 @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Just+Another+Hand&family=Poppins:ital,wght@1,300&family=Sacramento&family=Ubuntu:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    /* background-image: url('https://c4.wallpaperflare.com/wallpaper/500/740/43/4k-beautiful-background-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky; */
    background-color: black;
}

/* Thumnail */

.artist-main-page-songs{
    display: flex;
    padding: 2% ;
    background-color: black;
}

.artist-image-name{
margin: auto;
display: flex;
}

.artist-image-name img{
  width: 250px;
  border: 3px solid white;
  border-radius: 150px;
}

.artist-name{
    font-size: 45px;
    height: fit-content;
    color: white;
    margin: auto 0%;
    margin-left: 5%;
    font-family: Lato,sans-serif;
}

.artist-name .artist-listners{
    width: 120%;
    color: #d2b6b6;
}

.popular_text{
        color: white;
        width: fit-content;
        margin: auto 10%;
        padding: 1%;
        font-size: 25px;
        font-family: 'Amatic SC', cursive;
}

/* Songs */
.songs{
    background-image: url("https://wallpaper.dog/large/10883221.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    padding: 0 4%;
}


/* song smain Recommended heading */
.song-Recommended-heading{
    font-family: 'Amatic SC', cursive;
    font-size: 160%;
    transition: 1s;
    color: white;
    margin:2% 0 ;
    width:fit-content;
}

.song-Recommended-heading:hover{
    letter-spacing: 10px;
    text-shadow: 3px 3px 3px orange;
    text-decoration: underline;
}

/* Stay */
.stay{
    border: 3px solid white;
    border-radius: 5px;
    margin: 5% 0;
    display: flex;
    background-color: #a7637c;
    }
    
    .stay-audio{
        width: 60%;
    border: 5px solid aqua;
    border-radius: 5px;
    display: flex;
    margin: auto;
    }
    
    .text-stay{
        font-size: 30px;
        font-family: 'Amatic SC', cursive;
        color: white;
        align-items: center;
        justify-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 18%;
        margin: 2%;
    }

    .image-stay img{
        width: 100px;
        border: 2px solid white;
        border-radius: 5px;
        margin: 10px;
    }
    


/* Daspacito */
.daspacito{
    border: 3px solid white;
    border-radius: 5px;
    margin: 5% 0;
    display: flex;
    background-color: #917e5c;
    }
    
    .daspacito-audio{
        width: 60%;
    border: 5px solid aqua;
    border-radius: 5px;
    display: flex;
    margin: auto;
    }
    
    .text-daspacito{
        font-size: 30px;
        font-family: 'Amatic SC', cursive;
        color: white;
        align-items: center;
        justify-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 18%;
        margin: 2%;
    }

    .image-daspacito img{
        width: 100px;
        border: 2px solid white;
        border-radius: 5px;
        margin: 10px;
    }
    

    
/* Let Me Love You */
.lmlu{
    border: 3px solid white;
    border-radius: 5px;
    margin: 5% 0;
    display: flex;
    background-color: #5f8059;
    }
    
    .lmlu-audio{
        width: 60%;
    border: 5px solid aqua;
    border-radius: 5px;
    display: flex;
    margin: auto;
    }
    
    .text-lmlu{
        font-size: 30px;
        font-family: 'Amatic SC', cursive;
        color: white;
        align-items: center;
        justify-content: center;
        justify-content: center;
        display: flex;
        width: 18%;
        margin: 2%;
    }

    .image-lmlu img{
        width: 100px;
        border: 2px solid white;
        border-radius: 5px;
        margin: 10px;
    }


    /* Never Stay Never */
.never-stay-never{
    border: 3px solid white;
    border-radius: 5px;
    margin: 5% 0;
    display: flex;
    background-color: #5f8059;
    }
    
    .never-stay-never-audio{
        width: 60%;
    border: 5px solid aqua;
    border-radius: 5px;
    display: flex;
    margin: auto;
    }
    
    .text-never-stay-never{
        font-size: 30px;
        font-family: 'Amatic SC', cursive;
        color: white;
        align-items: center;
        justify-content: center;
        justify-content: center;
        display: flex;
        width: 18%;
        margin: 2%;
    }

    .image-never-stay-never img{
        width: 100px;
        border: 2px solid white;
        border-radius: 5px;
        margin: 10px;
    }
