*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-image:url("image/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken(1.9);
}

.image-main-div{
padding: 4% 5%;
}

.code-anmol-image{
    width: fit-content;
    margin: auto auto;
}

.code-anmol-image img{
    width: 220px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 250%;
}

.code-anmol-text{
    font-size: 70px;
    width: fit-content;
    margin: auto auto;
    text-shadow: 5px 5px 5px rgb(101, 141, 209);
    color:rgb(209, 249, 249);
}

.para-code-anmol-about{
    font-size: 20px;
    text-shadow: 2px 2px 2px #3c2fd3;
    width: 35%;
    margin: auto;
    color: #fdfdff;
}


@media only screen and (max-width: 400px) {

    .code-anmol-image img {
        width: 140px;
    }

    .code-anmol-text {
        font-size: 35px;
    }

    .para-code-anmol-about {
        font-size: 12px;
        text-shadow: 2px 2px 2px #3c2fd3;
        width: 63%;
        margin: auto;
        color: #fdfdff;
      }
      body{
        padding: 5%;
}
      }

}