@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Just+Another+Hand&family=Poppins:ital,wght@1,300&family=Sacramento&family=Ubuntu:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
background-color: black;
}
/* Thumnail */

.artist-main-page-songs{
    display: flex;
    padding: 2% ;
    background-color: black;
}

.artist-image-name{
margin: auto;
display: flex;
}

.artist-image-name img{
  width: 250px;
  border: 3px solid white;
  border-radius: 150px;
}

.artist-name{
    font-size: 45px;
    height: fit-content;
    color: white;
    margin: auto 0%;
    margin-left: 5%;
    font-family: Lato,sans-serif;
}

.artist-name .artist-listners{
    width: 120%;
    color: #d2b6b6;
}




/* Songs */
.songs{
    background-color: rgb(0, 0, 48);
    padding: 0 4%;
}

/* song smain Recommended heading */
.song-Recommended-heading{
    font-family: 'Amatic SC', cursive;
    font-size: 160%;
    transition: 1s;
    color: white;
    padding:2% 0;
    width:fit-content;
}

.song-Recommended-heading:hover{
    letter-spacing: 10px;
    text-shadow: 3px 3px 3px orange;
    text-decoration: underline;
}



/* Songs Audio Controls */
.song_audio-controls{
    width: 60%;
    border: 5px solid aqua;
    border-radius: 5px;
    display: flex;
    margin: auto;
}

/* Songs Main Div CSS */
.song_main-div{
    border: 3px solid white;
    border-radius: 5px;
    margin: 5% 0;
    display: flex; 
}

/* Songs Image CSS */
.song_related-image img{
    width: 100px;
        border: 2px solid white;
        border-radius: 5px;
        margin: 10px;
}

/* Songs Name Text */
.song-name{
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 18%;
    margin: 2%;
}



/* faded */
.faded{
background-color: #674056;
}


/* The Spectre */
.the_spectre{
    background-color: #674056;
    }
        

/* Alone */
.alone{
    background-color: #3c6165;
}


/* Dark Side */
.dark_side{
    background-color: #42648a;
}


/* On My Way */
.on_my_way{
    background-color: #4d3c65;
}



 /* Footer */



/* footer-responsive-icons-main */
.footer-responsive-icons-main-box{
   
}

/* Icons */

/*#1 footer-Github_icon*/
.svggiticon {
display: flex;
flex-direction: left;
color: rgb(255, 255, 255);
background-color: #ffffff;
border-radius: 50%;
border: 1.5px solid #fff;
margin-left: 5px;
}

.svggiticon:hover {
background-color: rgb(215, 130, 205);
position: relative;
bottom: 10px;
box-shadow: 2000px;
;
}

.Github-icon {
display: inline;
border-left: 1px solid #fff;
margin-left: 5px;
}



/*#2 footer-instagram_icon*/
.svggiticon-2 {
display: flex;
flex-direction: left;
border-radius: 50%;
border: 1.5px solid #fff;
margin-left: 5px;
color: white;
}

.svggiticon-2:hover {
background-color: rgb(255, 64, 0);
position: relative;
bottom: 10px;
box-shadow: 2000px;
;
}

.instagram-icon {
display: inline;
border-left: 1px solid #fff;
margin-left: 5px;
}


/*#3 footer-facebook_icon*/
.svggiticon-3 {
display: flex;
flex-direction: left;
border-radius: 50%;
/*border: 1.5px solid #fff;
margin-left: 5px;*/
color: white;
}

.svggiticon-3:hover{
color:#1778f2;
position: relative;
bottom: 10px;
box-shadow: 2000px;
;
}

.facebook-icon {
display: inline;
border-left: 1px solid #fff;
margin-left: 5px;
}




/*#4 footer-youtube_icon*/
.svggiticon-4 {
display: flex;
border-radius: 5px;

border-radius: 5px;
border: 1.5px solid #fff;
margin-left: 5px;
color: white;
}



.svggiticon-4:hover {
color: red;
position: relative;
bottom: 10px;
box-shadow: 2000px;
}



.youtube-icon {
display: inline;
border-left: 1px solid #fff;
margin-left: 5px;
}


/*#5 footer-icon_quora*/

.svggiticon-5 {
display: flex;
border-radius: 5px;
color: white;
border-radius: 50%;
border: 1.5px solid #fff;
margin-left: 5px;
padding: 1px;
}



.svggiticon-5:hover {
color: red;
position: relative;
bottom: 10px;
box-shadow: 2000px;
}



.quora-icon {
display: inline;
border-left: 1px solid #fff;
margin-left: 5px;
}


.footer-icons-right{
display: flex;
align-items: center;
justify-content: center;
}



.footer-icons-right-m{
  display: flex;
  align-items: center;
  justify-content: center;
  }



.footer-icons-right{
display: flex;
align-items: center;
justify-content: center;
padding: 1% 0;
background-color: black;
}




/*footer-text_center*/




.text-footer a {
 color: rgb(255, 255, 255);
 font-size: 28px;
 text-decoration: none;
 font-family: 'Amatic SC', cursive;
 }
 
 
 .text-footer a:hover {
 color: rgb(226, 226, 226);
 }


.footer-text-center{
display: flex;
justify-content: center;
text-align: center;
}

/*footer-text-copyright-further_art*/
.footer_text-copyright-fa{
display: flex;
align-items: center;
justify-content: center;
margin: 0 60px;
}






  /* Responsive */

  @media only screen and (max-width: 1140px) {

  }

  @media only screen and (max-width: 1000px) {

  }

  @media only screen and (max-width: 860px) {
   

/* Songs Audio width Respornsive */

.song_audio-controls{
    width: 40%;
 }


  }

  @media only screen and (max-width: 420px) {

    /* Song Name Text Sticker */
.song-name-text_sticker{
display: none;
}

.text-footer a{
    font-size: 18px;
}


    .song-Recommended-heading {
    font-size: 99%;
    }



  /* Artist Respornsive CSS */


/* About Artist */

.artist-image-name img {
    width: 150px;
    height: 150px;
}

.artist-name {
    font-size: 24px;
}

 
  /* Song Name Text Sticker */
    .song-name-text_sticker{
        display: none;
    }

    /* Song respornsive text */

.song-name{
    font-size: 20px;
}



/* Song respornsive image */

.song_related-image img{
    width: 75px;
}



/* Songs Audio width Respornsive */

     .song_audio-controls{
        width: 40%;
     }

  }

  

